.text-center {
color: lightgrey;

}

body{
  background: url("giannis.jpg") no-repeat center fixed;
  background-size: cover;
 color: lightgrey;
}

.text {
       border-style: solid;
       border-width: 40px;
       text-decoration: underline;
}

#nba {
  text-align: center;

}
