.text-center { 
color: white;

}

body{
  background: url("giannis.jpg") no-repeat center fixed;
  background-size: cover;
 color: white;
}

.text {
      right: 70px;
      bottom: 30px;
       border-style: dashed;
       border-width: 50px;
}


#nba {
  text-align: center;
  top: 100%;


}
